@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background: url("../main_data/img/bg.jpg");
    min-height: 100vh; 
    background-size: 100vw 100vh;
    /* background-position: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    display: grid;
    grid-template-rows: repeat(18 ,1fr);
    grid-template-columns: repeat(18 ,1fr);
    background: linear-gradient(rgb(111, 236, 111) , rgb(226, 226, 119));
    height: 92vmin;
    width: 90vmin;
    border: 2px solid black;
}

.head{
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}